.header.logo,
.header.logo a,
.hero.title {
  color: #f9faf8;
  font-weight: 700;
}
.home.section,
.footer.section {
  background-color: #1f2937;
}
.header.container {
  justify-content: space-around;
  padding: 20px 0;
}
.header.logo {
  font-size: 24px;
  text-decoration: none;
  transition: color 0.2s;
}
.header.logo:hover {
  color: #e47424;
}
.right-side.items ul{
  display: flex;
  flex-direction: row;
}
.right-side.items a {
  text-decoration: none; 
  transition: color 0.2s;
}
.right-side.items a:hover {
  color: #e47424;
}
.right-side.items a,
.hero.caption,
.footer.copyright {
  color: #e5e7eb;
  font-size: 18px;
}
.right-side.items li {
  list-style: none;
  margin: auto 12px;
}
.home.section {
  padding-bottom: 50px;
}
.home-page.container {
  align-items: center;
  justify-content: center;
  height: 40vh;
  flex: 1 auto;
  margin-top: 20px;
  padding: 0 40px;
}
.hero-content.left {
  width: 40vw;
}
.hero-content.left > * {
  margin-bottom: 8px;
}
.hero.btn {
  border: none;
}
.hero.image{
  width: 300px;
  height: 150px;
  object-fit: cover;
}