.quote.section {
  background-color: #e5e7eb;
  font: 36px #1F2937;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote.container {
  flex-direction: column;
  width: 80%;
}
.quote.para {
  font-style: italic;
  font-weight: 300;
  line-height: 1.4em;
}
.quote.author {
  text-align: right;
  font-weight: 600;
}